/*
 *  Styles for VZ Url fieldtype
 *  by Eli Van Zoeren - http://elivz.com
 */

.vzurl-wrapper {
    position: relative;
}
.vzurl-wrapper:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 18px;
    top: 6px;
    right: 30px;
    pointer-events: none;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), white);
    background-image:         linear-gradient(to right, rgba(255,255,255,0), white);
}

.vzurl-field {
    padding-right: 30px;
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
}
.vzurl-field.empty {
    color: #b9bfc6;
}

.vzurl-field.checking {
    background: #fff url(../../../resources/images/spinner.gif) no-repeat 99% 50%;
}
.vzurl-field.invalid,
.vzurl-field.redirect {
    color: #da5a47;
}

.vzurl-msg {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 100;
    left: 3px;
    top: 30px;
    max-width: 100%;
    padding: 2px 8px;
    color: #d7d9db;
    font-size: 11px;
    white-space: nowrap;
    background-color: #333f4d;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.vzurl-msg:before {
    content: "";
    position: absolute;
    left: 8px;
    top: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid #333f4d;
}
.vzurl-field.invalid:focus + .vzurl-msg,
.vzurl-field.redirect:focus + .vzurl-msg {
    opacity: 1;
    top: 27px;
    visibility: visible;
}
.vzurl-msg a {
    position: relative;
    display: inline-block;
    padding: 2px 8px 2px 5px;
    margin: -2px -8px -2px 7px;
    border-left: 1px solid #485861;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border-radius: 0 3px 3px 0;
}
.vzurl-msg a:focus,
.vzurl-msg a:hover {
    color: #fffff5;
    background-color: #3b4959;
    text-shadow: 1px 1px 0 #262e33;
}
.vzurl-msg a:before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #37424a;
}

/* Visit link */
.vzurl-visit {
    position: absolute;
    display: block;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/open.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.85;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    transition: opacity 0.15s;
}
.vzurl-visit:focus,
.vzurl-visit:hover {
    opacity: 1;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3 / 2),
       only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 1.5dppx) {
    .vzurl-field.checking {
        background-image: url(../../../resources/images/spinner_2x.gif);
        background-size: 20px 20px;
    }
    .vzurl-visit {
        background-image: url(../images/open_2x.png);
        background-size: 20px 20px;
    }
}